<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Goal Tree Generator</h1>
    <div id="intro">
      This is an experimental project for goal tracking. I find that I easily forget why I've
      set a particular goal for myself. After a while it loses its context and I forget where
      it fits into my overal plan. I also wanted to have a better idea of what my overall plan
      is! I decided to make a goal tree program to satisfy this. It's inspired by skill trees
      in video games like Skyrim. I like the idea of looking at my goals like stepping stones
      towards bigger things in my life. This way I can track each of my goals and see how it
      is getting me closer to my big goals!
    </div>
    <div id='main'>

    </div>
  </body>
  <script src="/js/client.js"></script>
</html>
