<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id='main'>
      <div id='controls'>
        <button id='genBoxes'>
          Generate Boxes
        </button>
      </div>
      <canvas id='canvas' ></canvas>
    </div>
  </body>
  <script src="/js/client.js"></script>
</html>
