<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id='controls'>
      <button id='newButton' onclick=newBox()>
          Create new box
      </button>
    </div>
  </body>
  <script>
    function newBox() {
      const newBox = document.createElement('<div>', {
        class: 'box'
      })
    }
  </script>
</html>
