body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#intro {
  width: 50%
}

#controls {

}

#tree {
  border: 1px solid black
}

.goal

.goal.top {

}
